body {
    background: #e9b894;
    background: #dae96d;
    background: #5fe966;
    background: #53b5e9;
    background: #6360e9;
    background: #e964e6;
    background: #e9704a;
    background: #e9d3b9;
}